/* Styling for blog.html */

#back-button {
    border: 1px solid;
    background-color: lightgrey;
    width: 70px;
    margin: 20px;
    bottom: 15px;
}

main {
    display: block;
}

/* Classes for user generated blog posts */
.postBody {
    border: 2px solid;
    margin: 20px;
}

.postTitle {
    margin: 10px;
    border-bottom: 1px solid;
    font-weight: bold;
}

.postAuthor {
    margin: 10px;
    font-style: italic;
}

.postContent {
    margin: 10px;
    padding: 20px;
    min-height: 80px;
}