main {
    width: 100%;
    display: flex;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

figure {
    width: 50%;
    display: flex;
    justify-content: center;
}

header {
    text-align: center;
    padding: 10px;
    border-bottom: 5px solid;
}

h1 {
    position: relative;
    display: inline;
    font-size: 180%;
}

nav {
    display: inline;
}

nav button {
    width: 45px;
    height: 45px;
    display: inline;
    position: relative;
    left: 480px;
    background: none;
    border: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(97, 126, 165);
    font-size: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    border-top: 5px solid;
    
}

img {
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: black;
    border: 1px solid;
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;
    
}
